<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kurse</title>
</head>
<body>

  <h2>Kurse</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Semester</th>
      <th>Lektor</th>
      <th>Noten</th>
    </tr>
    <tr th:each="course: ${courses}">
      <td th:text="${course.name}"></td>
      <td th:text="${course.semester}"></td>
      <td th:text="${course.lecturer.firstName} + ' ' + ${course.lecturer.lastName}"></td>
      <td th:text="${course.grades}"></td>
      <td>
        <form action="/grade" method="post">
          <input type="hidden" name="student" th:value="${studentId}">
          <input type="hidden" name="course" th:value="${course.id}">
          <input type="number" name="grade" required>
          <input type="submit" value="send">
        </form>
      </td>
    </tr>
  </table>
</body>
</html>