<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Kurse ' + ${semester.semester.name}"></title>
</head>
<body>

    <th:block th:insert="fragments/logout.html :: logout"/>

    <h2 th:text="'Kurse ' + ${semester.semester.name}"></h2>

    <p th:text="'Student: ' + ${semester.student.fullName}"></p>

    <th:block th:insert="fragments/error.html :: error(${gradeAddingError})"/>

    <th:block th:insert="fragments/courses-table.html :: courses-table(${semester})"/>

</body>
</html>