<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Kurse ' + ${semesterId} + '. Semester'"></title>
</head>
<body>

    <div th:insert="fragments/logout.html :: logout"></div>

    <h2 th:text="'Kurse ' + ${semesterId} + '. Semester'"></h2>

    <p th:text="'Student: ' + ${student.fullName}"></p>

    <p th:if="${maxGradesError}"><span th:text="${maxGradesError}" style="color:red"></span></p>

    <div th:insert="fragments/courses-table.html :: courses-table(${courses})"></div>

</body>
</html>