<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Student ' + ${student.id}"></title>
</head>
<body>
    <h1>Student</h1>
    <div>
        <p>Name: <span th:text="${student.fullName}"></span></p>
        <p>PKZ: <span th:text="${student.matriculationNumber}"></span></p>
        <p>Jahrgang: <span th:text="${student.startYear}"></span></p>
    </div>

    <h2>Kurse nach Semester</h2>
    <ul>
        <li th:each="semester: ${student.semesters}">
            <a th:href="@{/courses(student=${student.id}, semester=${semester.id})}" th:text="${semester.id} + '. Semester'"></a>
        </li>
    </ul>
</body>
</html>