<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Student ' + ${student.id}"></title>
</head>
<body>

    <div th:insert="fragments/logout.html :: logout"></div>

    <h1>Student</h1>
    <div th:insert="fragments/student-info.html :: student-info"></div>

    <h2>Kurse nach Semester</h2>
    <ul>
        <li th:each="semester: ${student.semesters}">
            <a th:href="@{/courses(semester=${semester.id})}" th:text="${semester.id} + '. Semester'"></a>
        </li>
    </ul>
</body>
</html>