<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - alle Studenten</title>
</head>
<body>

    <th:block th:insert="fragments/logout.html :: logout"/>

    <h1>Admin - alle Studenten</h1>

    <th:block th:insert="fragments/error.html :: error(${gradeAddingError})"/>

    <div th:each="student: ${students}">

        <h2 th:text="'Student ' + ${student.id}"></h2>

        <th:block th:insert="fragments/student-info.html :: student-info"/>

        <div th:each="semester: ${student.studentSemesters}">
            <h3 th:text="'Kurse ' + ${semester.semester.name}"></h3>

            <th:block th:insert="fragments/courses-table.html :: courses-table(${semester})"/>

        </div>

    </div>

</body>
</html>