<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Student ' + ${student.id}"></title>
</head>
<body>

    <th:block th:insert="fragments/logout.html :: logout"/>

    <h1>Student</h1>
    <th:block th:insert="fragments/student-info.html :: student-info"/>

    <h2>Kurse nach Semester</h2>
    <ul>
        <li th:each="semester: ${student.studentSemesters}">
            <a th:href="@{/courses(studentSemester=${semester.id})}" th:text="${semester.semester.name}"></a>
        </li>
    </ul>
</body>
</html>