<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

    <div th:insert="fragments/logout.html :: logout"></div>

    <h1>Admin - alle Studenten</h1>

    <div th:each="student: ${students}">

        <h2 th:text="'Student ' + ${student.id}"></h2>

        <div th:insert="fragments/student-info.html :: student-info"></div>

        <div th:each="semester: ${student.semesters}">
            <h3 th:text="'Kurse ' + ${semester.id} + '. Semester'"></h3>

            <div th:insert="fragments/courses-table.html :: courses-table(${semester.courses})"></div>

        </div>

    </div>

</body>
</html>