<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

    <form th:action="@{/logout}" method="post"><input type="submit" value="Ausloggen"></form>

    <h1>Admin - alle Studenten</h1>

    <div th:each="student: ${students}">

        <h2 th:text="'Student ' + ${student.id}"></h2>
        <div>
            <p>Name: <span th:text="${student.fullName}"></span></p>
            <p>PKZ: <span th:text="${student.matriculationNumber}"></span></p>
            <p>Jahrgang: <span th:text="${student.startYear}"></span></p>
        </div>

        <div th:each="semester: ${student.semesters}">
            <h3 th:text="'Kurse ' + ${semester.id} + '. Semester'"></h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Lektor</th>
                    <th>Noten</th>
                </tr>
                <tr th:each="course: ${semester.courses}">
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.lecturer.fullName}"></td>
                    <td th:text="${course.grades}"></td>
                    <td>
                        <form th:action="@{/grade}" method="post">
                            <input type="hidden" name="semester" th:value="${semesterId}">
                            <input type="hidden" name="course" th:value="${course.id}">
                            <input type="number" name="grade" required>
                            <input type="submit" value="speichern">
                        </form>
                    </td>
                </tr>
            </table>
        </div>




    </div>
</body>
</html>